Add config for discovery of OAuth2 information

### Prerequisites

- [x] Search the [current open issues](https://github.com/googleapis/genai-toolbox/issues)

### What are you trying to do that currently feels hard or impossible?

Connect with OAuth from a client that does not support manual oauth config.

### Suggested Solution(s)

When a tool is invoked, there should be a special error that can be returned. That error will result in the server sending a 401 back to the caller with the `WWW-Authenticate` header instead of responding with the normal MCP response.

The server should respond to an HTTP GET at the endpoint  `/.well-known/oauth-protected-resource` with a json like the following.

```json
{
  "issuer": "https://example.com/auth",
  "authorization_endpoint": "https://example.com/auth/authorize",
  "token_endpoint": "https://example.com/auth/token",
  "jwks_uri": "https://example.com/auth/jwks",
  "response_types_supported": [
    "code",
    "token",
    "id_token",
    "code token",
    "code id_token",
    "token id_token",
    "code token id_token"
  ],
  "subject_types_supported": [
    "public",
    "pairwise"
  ],
  "id_token_signing_alg_values_supported": [
    "RS256"
  ],
  "scopes_supported": [
    "openid",
    "profile",
    "email",
    "address",
    "phone"
  ],
  "token_endpoint_auth_methods_supported": [
    "client_secret_basic",
    "client_secret_post"
  ],
  "claims_supported": [
    "iss",
    "sub",
    "aud",
    "exp",
    "iat",
    "auth_time",
    "nonce",
    "acr",
    "amr",
    "azp",
    "name",
    "family_name",
    "given_name",
    "preferred_username",
    "email",
    "email_verified",
    "picture",
    "zoneinfo",
    "locale",
    "address",
    "phone_number",
    "phone_number_verified"
  ]
}
```

The actual json could be encoded in the tools.yaml file or with the prebuilt tool yaml file.

### Alternatives Considered

_No response_

### Additional Details

_No response_

The actual oauth metadata is described here: https://datatracker.ietf.org/doc/html/rfc8414

This might also mean that we should have a specific error we can raise in a tool Invoke method for a 401 error. The wrapping http server functions should look for this error, then should serve a 401 rather than a 200 with an embedded error message in the payload.

We definitely need to modify the response to allow a 401 with the WWW-Authenticate header in the response.

> MCP servers MUST use the HTTP header WWW-Authenticate when returning a 401 Unauthorized to indicate the location of the resource server metadata URL as described in [RFC9728 Section 5.1 “WWW-Authenticate Response”](https://datatracker.ietf.org/doc/html/rfc9728#name-www-authenticate-response).

Fixed by https://github.com/googleapis/mcp-toolbox/pull/2698

> Fixed by [#1280](https://github.com/googleapis/mcp-toolbox/issues/1280)

@duwenxin99 Is this fixed? The link above just comes back to this issue.
And https://github.com/googleapis/mcp-toolbox/pull/2090 is closed.

> > Fixed by [#1280](https://github.com/googleapis/mcp-toolbox/issues/1280)
> 
> [@duwenxin99[<img alt="" width="15" height="15" src="chrome-extension://dlebflppeeemcdpidccbiblndppbmjmh/ospo-chrome-ext-logo.png">](https://teams.googleplex.com/duwenxin@google.com)](https://github.com/duwenxin99) Is this fixed? The link above just comes back to this issue. And [#2090](https://github.com/googleapis/mcp-toolbox/pull/2090) is closed.

@mf-lit Yes it is supported in https://github.com/googleapis/mcp-toolbox/pull/2698. Fixed the link. Let me know if there are any questions.